.bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: transparent;
}

.bg-lefttop {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 100vh solid $green_base;
  border-right: 100vw solid transparent;
}

.bg-rightbottom {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-bottom: 100vh solid $red_base;
  border-left: 100vw solid transparent;
}

.bg-lefttop--animated {
    -webkit-animation-name: square;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease-in-out;  
}

.bg-rightbottom--animated {
    -webkit-animation-name: square2;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease-in-out;  
}

@-webkit-keyframes square {
    0% {background:$green_base}
    30% {background:$red_base}
    40% {background:$green_base}
    70% {background:$red_base}
}

@-webkit-keyframes square2 {
    0% {background:$red_base}
    40% {background:$green_base}
    50% {background:$red_base}
    90% {background:$green_base}
}


.bg-image {
  //background-image: url("../../images/example_image.jpg");
  background-size: contain;
  filter: grayscale(1);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-statusdie {
  background-color: $red_base;
  height: 25%;
  width: 300px;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.bg-statusdemo {
  background-color: $green_base;
  height: 75%;
  width: 300px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}