.bg-lefttop {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 500px solid $green_base;
  border-right: 300px solid transparent;
}

.bg-rightbottom {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-bottom: 500px solid $red_base;
  border-left: 300px solid transparent;
}

.bg-image {
  background-image: url("../../images/example_image.jpg");
  background-size: contain;
  filter: grayscale(1);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-statusdie {
  background-color: $red_base;
  height: 25%;
  width: 300px;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.bg-statusdemo {
  background-color: $green_base;
  height: 75%;
  width: 300px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}