.bg-container-profile, .bg-container-data, .container-demoinfo {
    width: 50vw;
    height: 50vw;
    max-width: 350px;
    min-width: 250px;
    max-height: 350px;
    min-height: 250px;
    margin: 0 auto;
}

.container-demoinfo {
    min-height: 100px;
    max-height: 200px;
}

.container-demoinfo--mini {
    min-height: 75px;
    max-height: 75px;
}

.bg-container-data {
    position: relative;
    margin-top: -100%;
}

.bg-lefttop {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 100vh solid $green_base;
  border-right: 100vw solid transparent;
}

.bg-rightbottom {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-bottom: 100vh solid $red_base;
  border-left: 100vw solid transparent;
}

.bg-image {
  background-size: cover;
  filter: grayscale(1);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-statusdie {
  background-color: $red_base;
  height: 25%;
  width: 100%;
  opacity: 0.5;
  position: relative;
  top: -100%;
  transition: all 500ms ease-in-out;
}

.bg-statusdemo {
  background-color: $green_base;
  height: 75%;
  width: 100%;
  opacity: 0.5;
  position: relative;
  bottom: 100%;
  transition: all 500ms ease-in-out;
}