.btn
{
	background-color: darken($lightgrey, 30%);
	color: lighten($lightgrey, 40%);
	border-radius: 5px;
	padding: 0.7em 0em;
	text-shadow: 1px 1px $lightgrey;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.btn:hover
{
	background-color: darken($lightgrey, 50%);
}


.btn__login {
    width: 80%;
}

.roles__form--submit, .groups__form--submit {
	width: 100%;
    max-width: 200px;
}

.btn__courses {
    width: 50vw;
    max-width: 350px;
    min-width: 250px;
}

.container-vote-buttons {
	border-top: 1px groove darken($lightgrey, 30%);
    padding-top: 10px;
	text-align: center;
    width: 50vw;
    max-width: 350px;
    min-width: 250px;
    height: 150px;    
}

.container-vote-buttons p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: darken($lightgrey, 30%);
}

.btn__startvote {
    min-width: 225px;
	width: 100%;
}

.btn__endvote {
    height: 20px;
	width: 50vw;
    max-width: 350px;
    min-width: 250px;
	margin-bottom: 30px;
}

.btn__demo {
	background-color: $green_base;
    display: block;
    width: 100%;
}

.btn__die {
	background-color: $red_base;
    display: block;
    width: 100%;
}