.btn
{
	background-color: darken($lightgrey, 30%);
	color:lighten($lightgrey, 40%);
	border-radius: 5px;
	//display: block;
	padding:0.7em 0em;
	//bottom: 20px;
	text-shadow:1px 1px $lightgrey;
	text-decoration:none;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.btn:hover
{
	background-color: darken($lightgrey, 50%);
}

.btn__login {
    padding: 1em;
    width: 100%;
}

.groups__form--submit {
	margin: 30px auto 0 auto;
	width: 100%;
}

.btn__startvote {
	width: 260px;
	margin: 0 auto;
}

.btn__endvote {
	position: absolute;
	top: 100px;
	height: 20px;
	width: 260px;
	margin-bottom: 30px;
}

.btn__demo {
	background-color: $green_base;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: -10px;
}

.btn__die {
	background-color: $red_base;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -10px;
}