main {
	width:300px;
	height:500px;
	background-color: transparent;
	position:relative;
	font-family: "Gill Sans MT", sans-serif;
}

.title {
	color: $offwhite;
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
	width: 40%;
	margin: 0 auto;
}

.title__login {
	padding-top: 200px;
	text-shadow: 2px 2px darken($offwhite, 30%), 4px 4px darken($offwhite, 60%);
}

.container-userinfo {
	width: 300px;
	height: 300px;
	position: absolute;

}