main {
	background-color: transparent;
	position:relative;
	font-family: "Gill Sans MT", sans-serif;
    height: 100vh;
    width: 100vw;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    min-height: 260px;
    width: 50vw;
    max-width: 440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.title {
	color: $offwhite;
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
	width: 100vh;
    max-width: 150px;
    height: 2em;
}

.title__login {
	text-shadow: 2px 2px darken($offwhite, 30%), 4px 4px darken($offwhite, 60%);
    padding-top: 100px;
}

.profile {
    height: 100vh;
    min-height: 400px;
    width: 80vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-userinfo {
    position: relative;
}

.container-demoinfo {
	color: darken($lightgrey, 50%);
}

.header {
	color: $offwhite;
    width: 50vw;
    max-width: 300px;
}

.header-name {
	font-weight: normal;
    font-size: 1.2em;
    padding-left: 20px;
    position: relative;
    top: 5%;
    left: 5%;
}

.header-title {
	text-align: center;
	font-size: 1.5em;
	width: 60%;
	margin: 0 auto;
    position: relative;
    top: 30%;
	text-transform: uppercase;
	text-shadow: 2px 2px darken($offwhite, 30%), 4px 4px darken($offwhite, 60%);
}

.info-user-upper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    padding-top: 10px;
    padding-left: 2%;
}

.info-user-upper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 25%;
    width: 95%;
    padding-top: 10px;
    padding-left: 2%;
}

.left {
    width: 28%;
    height: 50%;
}

.right {
    width: 64%;
    height: 50%;
    font-weight: bold;
    text-align: right;
}

.info-rank, .info-progress {
	border-top: 1px groove darken($lightgrey, 30%);
	color: darken($lightgrey, 30%);
    padding: 10px;
}

.existingCourses
{
	display:flex;
	flex-direction:column;
	width:100%;
	height:150px;
	overflow:auto;
	margin-bottom:20px;
}

.coursedelete
{
	display:flex;
	flex-direction: row;
	margin-top:50px;
}
.coursedelete p
{
	width:80%;
}

.change_courses
{
	margin-top:25px;
	margin-left:50px;
}