head
    title Voting in progress
    link(href="../stylesheets/css/style.css", rel="stylesheet")
body
    main
        div.container-userinfo
            div(class="bg bg-image")
            div(class="bg bg-statusdie")
            div(class="bg bg-statusdemo")
            h2(class="header header-name")= name
            h1(class="header header-title")= status
        div.container-demoinfo
            div.info-user.bold
                span.left
                    p.info.info-demo In groups
                span.left
                    p.info.info-demo Last time on stage
                span.right
                    p(class="info-user groups")= groups
                span.right
                    p(class="info-user date")= time
            div.info-user.info-progress
                p Users are now voting in this "demo or die" seesion. Press the button below to end voting.
                a.btn.btn__endvote(href='#') End Voting
        script(src='/primus/primus.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='../javascript/script.js')
        script(src='../javascript/endvote.js')