html
	head
		title Log in
		link(href='stylesheets/css/style.css', rel='stylesheet')
	body
		main
			head
			.bg-container
				.bg.bg-lefttop
				.bg.bg-rightbottom
			.content-container
				.groups
					form.form.groups__form(method='POST')
						legend Select your class groups
						.form__options
							label.form__options--input
								input(type='checkbox', name='group', value='Webtech1')
								| Webtech1
							label.form__options--input
								input(type='checkbox', name='group', value='Webtech2')
								| Webtech2
							label.form__options--input
								input(type='checkbox', name='group', value='Php1')
								| PHP1
							label.form__options--input
								input(type='checkbox', name='group', value='Php2')
								| PHP2
						input.btn.groups__form--submit(type='submit', value='Save groups')

