head
    title Log in
    link(href="stylesheets/css/style.css", rel="stylesheet")
body
    main
        div.bg-container
            div(class="bg bg-lefttop")
            div(class="bg bg-rightbottom")
        div.content-container
            .groups
                form(class='form groups__form', method='POST')
                    legend Select your class groups
                    .form__options
                        each key in courses
                            label.form__options--input
                            input(type='checkbox', name='group', value=key.course)
                            | #{key.course}
                    input.btn.groups__form--submit(type='submit', value='Save groups')
