head
	title Log in
	link(href="stylesheets/css/style.css", rel="stylesheet")
body
	main
		div.green
		div.red
		h1(class="header-title")= demotitle
		a.btn.btn__login(href='/auth/facebook') Log in with Facebook