head
	title Log in
	link(href="stylesheets/css/style.css", rel="stylesheet")
body
	main
		HEAD
		div(class="bg bg-lefttop")
		div(class="bg bg-rightbottom")
		h1(class="title title__login")= demotitle
		a.btn.btn__login(href='auth/facebook') Log in with Facebook
