doctype html
html(lang='en')
  head
    title Log in
    link(href='stylesheets/css/style.css', ,='', rel='stylesheet')
  body
    main
      .bg-container
        .bg.bg-lefttop
        .bg.bg-rightbottom
      .content-container
        h1.title.title__login= demotitle
        a.btn.btn__login(href='auth/facebook') Log in with Facebook

