head
	title Log in
	link(href="stylesheets/css/style.css", rel="stylesheet")
body
	main
		HEAD
		div.green
		div.red
		h1(class="header-title")= demotitle
		a.btn.btn__login(href='/auth/facebook') Log in with Facebook

		div(class="bg bg-lefttop")
		div(class="bg bg-rightbottom")
		h1(class="title title__login")= demotitle
		a.btn.btn__login(href='#') Log in with Facebook
		adff41d3d46d3cb7244d02f5f3acca6921323cfa
