head
	title Log in
	link(href="stylesheets/css/style.css", rel="stylesheet")
body

	main
		div.green
		div.red
		h1(class="header-title")= demotitle
		a(href="/auth/facebook", class="btn btn__login") Login via Facebook