head
    title Log in
    link(href="stylesheets/css/style.css", rel="stylesheet")
body
    main
        div.bg-container
            div(class="bg bg-lefttop bg-lefttop--animated")
            div(class="bg bg-rightbottom bg-rightbottom--animated")
        div.content-container
            h1(class="title title__login")= demotitle
            a.btn.btn__login(href='auth/facebook') Log in with Facebook
