head
    title Log in
    link(href="stylesheets/css/style.css", rel="stylesheet")
body
    main
        HEAD
        div(class="bg bg-lefttop")
        div(class="bg bg-rightbottom")
        .groups
            form(class='form groups__form', method='POST')
                legend Select your class groups
                .form__options
                    label.form__options--input
                        input(type='radio', name='role', value='Student')
                        | Student
                    label.form__options--input
                        input(type='radio', name='role', value='Teacher')
                        | Teacher
                    label(for='password', class='password', style='display:none;') Password
                        input(type='text', name='password', class='password', style='display:none;')
                input.btn.groups__form--submit(type='submit', value='Save role')
