head
    title Profile
    link(href="../../stylesheets/css/style.css", rel="stylesheet")
    style(type='text/css').
        .bg-image {background-image:url(#{photo}?type=large);}
body
    main
        div(class='profile', id=id)
            div.container-userinfo
                div.bg-container-profile
                    div(class="bg bg-image")
                    div(class="bg bg-statusdie")
                    div(class="bg bg-statusdemo")
                div.bg-container-data
                    h1(class="header header-title")= status
            div.container-demoinfo.container-demoinfo--mini
                div.info-user.info-user-upper2
                    span.left
                        p.info.info-vote Now on stage
                    span.right
                        p(class="info-user__name")= name
            script(src='/primus/primus.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='http://localhost:3000/javascript/userToProfile.js')                    